PORT=3000
DATABASE_URL=postgresql://postgres:postgres@localhost:5433/library_db?schema=public
JWT_SECRET=local_super_secret_key
JWT_EXPIRES_IN=1d
LOANS_SERVICE_URL=http://localhost:8080
INTERNAL_API_KEY=local_internal_key
